<nav class="navbar  navbar-dark fixed-top" style="background-color:#31B404;">
  <a class="navbar-brand" style="color:#0B3B0B;font-weight:bold;"  href="#">Welcome : Admin</a>
  <span style="color:white;font-size:.7em;font-weight:bold;float:right;" >LogOut</span>
</nav>

<!-------------------------------------(((Images Display Here)))----------------------------------------->
<div style="height:500px;margin-top:100px;width:70%;height:200px;margin-left:15%;background-color:#E6E6E6;">
<h2>Cellpadding</h2>
        <p>cell padding specifies the space between the cell content and its borders. </p>
        <table style="width:100%">
          <tr>
            <th>id</th>
            <th>Checkin</th>
            <th>Checkout</th>
            <th>Adults</th>
            <th> Kids</th>
            </tr>

            <tr>
            <td> 101 </td>
            <td> 2016-12-16</td>
            <td> 2016-12-16</td>
            <td> 1 </td>
            <td> 0 </td>
          
            </tr>

            <tr>
              <td> 102</td>
              <td> 2016-12-16</td>
               <td> 2016-12-16</td>
               <td> 1 </td>
               <td> 0 </td>
              </tr>

               <tr>
              <td> 103</td>
              <td> 2016-12-16</td>
               <td> 2016-12-16</td>
               <td> 4 </td>
               <td> 3 </td>
              </tr>

               <tr>
              <td> 104</td>
              <td> 2016-12-16</td>
               <td> 2016-12-16</td>
               <td> 4 </td>
               <td> 3 </td>
              </tr>
            
              <tr>
              <td> 201</td>
              <td> 2016-12-16</td>
               <td> 2016-12-16</td>
               <td> 2 </td>
               <td> 1 </td>
              </tr>

              <tr>
              <td> 202</td>
              <td> 2016-12-16</td>
               <td> 2016-12-16</td>
               <td> 6 </td>
               <td> 5 </td>
              </tr>

               <tr>
              <td> 203</td>
              <td> 2016-12-16</td>
               <td> 2016-12-16</td>
               <td> 6 </td>
               <td> 5 </td>
              </tr>
			  </table>
</div>
<!-------------------------------------(((Images Display Here)))----------------------------------------->

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!----------------------------------------------(((ENDS HERE)))--------------------------------------------------->
  <footer class="mastfoot mt-auto bg-dark" style="height:200px;   clear:both;">
    <div class="inner">
      <p> <a href="https://getbootstrap.com/"></a> <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </footer>


