  <div class="bg-dark text-light p-4 " style="opacity:0.8;width:80%;margin-left:10%;text-align:center;margin-top:80px;">



        <form>

       <table>
        <tr>
          <td>     
            <div class="form-group">
            <label for="bank name">Bank name</label><br>
           <select  [(ngModel)]="formData.bankname"
                     name="bankname"
                     class="form-control"
                     #bankname="ngModel">
             <option>FNB</option>
             <option> Standard Bank</option>
             <option> Capitec</option>
             <option>Absa</option>
           </select>
          </div></td>
        </tr>
        <tr>
         <td>
           <div class="form-group">
    
            <input type="number"
                   class="form-control"
                   [(ngModel)]="formData.cardnumber"
                   name="cardnumber"
                   #cardnumber="ngModel"
                   placeholder="Card number"
                   required />
          </div>
         </td>
        </tr> 
        <tr>
          <td>
           <div class="form-group">
            <label for="expire month">Expire Month</label>
             <select
                    [(ngModel)]="formData.expiremonth"
                     name="expiremonth"
                     class="form-control"
                     #expiremonth="ngModel">
                    <option>01 </option>
                    <option> 02</option>
                    <option> 03</option>
                    <option>04</option>
                    <option>05 </option>
                    <option> 06</option>
                    <option> 07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option> 11</option>
                    <option> 12</option>
           </select>
          </div>
          </td>
          <td>
         <div class="form-group">
            <label for="expireyear ">Expire year</label>
             <select
                    [(ngModel)]="formData.expireyear"
                     name="expireyear"
                     class="form-control"
                     #expireyear="ngModel">
                    <option>2020 </option>
                    <option> 2021</option>
                    <option> 2022</option>
                    <option>2023</option>
                    <option>2024 </option>
                    <option> 2025</option>
                    <option> 2026</option>
                    <option>2027</option>
                    <option>2028</option>
                    <option>2029</option>
                    <option> 2030</option>
                    <option> 2031</option>
           </select>
          </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
            <input type="number"
                   class="form-control"
                   [(ngModel)]="formData.vcc"
                   name="vcc"
                   #vcc="ngModel"
                     placeholder="Vcc..."
                   required />
          </div>
          </td>
        </tr>
        <tr>
          <td>
           <div class="form-group">
            <input type="email"
                   class="form-control"
                   [(ngModel)]="formData.email"
                   name="email"
                   #email="ngModel"
                     placeholder="Email..."
                   required />
          </div>
          </td>
          <td>
            <div class="form-group">
            <input type="number"
                   class="form-control"
                   [(ngModel)]="formData.cellphone"
                   name="cellphone"
                   #cellphone="ngModel"
                   placeholder="Celphone..."
                   required />
          </div>
          </td>
        </tr>
        <tr>
          <td>
          <button 
            type="submit" 
            class="btn btn-warning" (click)="payment()">
              Register
          </button>
          </td>
          <td>
              <button 
            type="submit" 
            class="btn btn-danger" (click)="cancel()">
              Cancel
          </button>
          </td>
        </tr>
       </table>
        </form>
</div> 

