<br>
<br>
<br>
<br>
<br>


<div class="bg-dark text-light p-4 " style="opacity:0.8;width:80%;margin-left:10%;text-align:center;margin-top:80px;">
     <form   >
       <table>
        <tr>
          <td>     
            <div class="form-group">
            <label for="bank name">Bank name</label><br>
           <select  [(ngModel)]="formData.bankname"
                     name="bankname"
                     class="form-control"
                     required
                     #bankname="ngModel">
             <option>FNB</option>
             <option> Standard Bank</option>
             <option> Capitec</option>
             <option>Absa</option>
           </select>
          </div>
          <div *ngIf="bankname.invalid && (bankname.dirty || bankname.touched)"
          class="alert alert-danger">
          <div *ngIf="bankname.errors.required">
            bankname is required
          </div>
        </div>
        </td>
        </tr>
        <tr>
         <td>
           <div class="form-group">
    
            <input type="text"
                   class="form-control"
                   [(ngModel)]="formData.cardnumber"
                   name="cardnumber"
                   #cardnumber="ngModel"
                   placeholder="Card number"
                   minlength="16"
                   [pattern]="mobNumberPattern"
                   required />
          </div>
          <div *ngIf="cardnumber.invalid && (cardnumber.dirty || cardnumber.touched)"
          class="alert alert-danger">
          <div *ngIf=" cardnumber.errors.required" class = "alert alert-danger">
            <span>cardnumber should contain 16 characters</span>
          </div>
          <div *ngIf="cardnumber.errors?.minlength && !cardnumber.errors.required" class = "alert alert-danger">
            <span>cardnumber should contain 16 characters</span>
          </div>
         
        </div>
  
         </td>
        </tr> 
        <tr>
          <td>
           <div class="form-group">
            <label for="expire month">Expire Month</label>
             <select
                    [(ngModel)]="formData.expiremonth"
                     name="expiremonth"
                     class="form-control"
                     required
                     #expiremonth="ngModel">
                    <option>01 </option>
                    <option> 02</option>
                    <option> 03</option>
                    <option>04</option>
                    <option>05 </option>
                    <option> 06</option>
                    <option> 07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option> 11</option>
                    <option> 12</option>
           </select>
          </div>
          <div *ngIf="expiremonth.invalid && (expiremonth.dirty || expiremonth.touched)"
          class="alert alert-danger">
          <div *ngIf=" expiremonth.errors.required" class = "alert alert-danger">
            <span>expiremonth required</span>
          </div>
        </div>
          </td>
          <td>
         <div class="form-group">
            <label for="expireyear ">Expire year</label>
             <select
                    [(ngModel)]="formData.expireyear"
                     name="expireyear"
                     class="form-control"
                     required
                     #expireyear="ngModel">
                    <option>2020 </option>
                    <option> 2021</option>
                    <option> 2022</option>
                    <option>2023</option>
                    <option>2024 </option>
                    <option> 2025</option>
                    <option> 2026</option>
                    <option>2027</option>
                    <option>2028</option>
                    <option>2029</option>
                    <option> 2030</option>
                    <option> 2031</option>
           </select>
          </div>
          <div *ngIf="expireyear.invalid && (expireyear.dirty || expireyear.touched)"
          class="alert alert-danger">
          <div *ngIf=" expireyear.errors.required" class = "alert alert-danger">
            <span>expireyear required</span>
          </div>
        </div>
          </td>
        </tr>
        <tr>
          <td>






            ----------------------------------------------
            <div class="form-group">
            <input type="text"
                   class="form-control"
                   [(ngModel)]="formData.vcc"
                   name="vcc"
                   #vcc="ngModel"
                     placeholder="Vcc..."
                     minlength="3"
                    [pattern]="VCCPattern"
                     required />
          </div>
          <div *ngIf="vcc.invalid && (vcc.dirty || vcc.touched)"
          class="alert alert-danger">
          <div *ngIf=" vcc.errors.required" class = "alert alert-danger">
            <span>vcc should contain 16 characters</span>
          </div>
          <div *ngIf="vcc.errors?.minlength && !vcc.errors.required" class = "alert alert-danger">
            <span>vcc should contain 16 characters</span>
          </div>
         
        </div>
          <!-- <div *ngIf="vcc.invalid && (vcc.dirty || vcc.touched)"
          class="alert alert-danger">
      
        </div> -->
          </td>
        </tr>
        <tr>
          <td>
           <div class="form-group">
            <input type="email"
                   class="form-control"
                   [(ngModel)]="formData.email"
                   name="email"
                   #email="ngModel"
                     placeholder="Email..."
                     pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                   required />
          </div>
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
          class="alert alert-danger">
        
            <p *ngIf="email.errors?.required">Email is a required field!</p>
            <p *ngIf="email.errors?.pattern">This is not a valid Email!!!</p>
          </div>
          </td>
          <td>
            <div class="form-group">
            <input type="number"
                   class="form-control"
                   [(ngModel)]="formData.cellphone"
                   name="cellphone"
                   #cellphone="ngModel"
                   placeholder="Celphone..."
                   [pattern]="phonePattern"
                   required />
          </div>
       
          <div *ngIf="cellphone.invalid && (cellphone.dirty || cellphone.touched)"
          class="alert alert-danger">
          <div *ngIf=" cellphone.errors.required" >
            <span>phone required</span>
          </div>
          <div *ngIf="cellphone.errors.pattern" >  
            <span>card number not valid.</span> 
           </div> 
        </div>
          </td>
        </tr>
        <tr>
          <td>
          <button 
            type="submit"             
            class="btn btn-warning"  (click)="payment()">
              Register
          </button>
          </td>
          <td>
              <button 
            type="submit" 
            class="btn btn-danger"   (click)="cancel()">
              Cancel
          </button>
          </td>
        </tr>
       </table>
        </form>
</div> 

