<h2>Cellpadding</h2>
        <p>cell padding specifies the space between the cell content and its borders. </p>
        <table style="width:100%">
          <tr>
            <th>id</th>
            <th>Checkin</th>
            <th>Checkout</th>
            <th>Adults</th>
            <th> Kids</th>
            </tr>

            <tr>
            <td> 101 </td>
            <td> 2016-12-16</td>
            <td> 2016-12-16</td>
            <td> 1 </td>
            <td> 0 </td>
          
            </tr>

            <tr>
              <td> 102</td>
              <td> 2016-12-16</td>
               <td> 2016-12-16</td>
               <td> 1 </td>
               <td> 0 </td>
              </tr>

               <tr>
              <td> 103</td>
              <td> 2016-12-16</td>
               <td> 2016-12-16</td>
               <td> 4 </td>
               <td> 3 </td>
              </tr>

               <tr>
              <td> 104</td>
              <td> 2016-12-16</td>
               <td> 2016-12-16</td>
               <td> 4 </td>
               <td> 3 </td>
              </tr>
            
              <tr>
              <td> 201</td>
              <td> 2016-12-16</td>
               <td> 2016-12-16</td>
               <td> 2 </td>
               <td> 1 </td>
              </tr>

              <tr>
              <td> 202</td>
              <td> 2016-12-16</td>
               <td> 2016-12-16</td>
               <td> 6 </td>
               <td> 5 </td>
              </tr>

               <tr>
              <td> 203</td>
              <td> 2016-12-16</td>
               <td> 2016-12-16</td>
               <td> 6 </td>
               <td> 5 </td>
              </tr>