<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#31B404;">
  <a class="navbar-brand" style="color:#0B610B"  href="#">Welcome : Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span style="color:white" >LogOut</span>
  </button>
</nav>

<div style="height:500px;margin-top:100px;width:70%;margin-left:15%;">
  <table class="table ">
  <thead style="background-color:#FF0040;">
    <tr >
      <th scope="col" ><a href="" style="color:white;">Bookings</a></th>
      <th scope="col" ><a href="" style="color:white;">Upload Images and Details</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" name="" placeholder="heading.."></td>
      <td><input type="text" name="" placeholder="description"></td>
      <td><input type="file" name="" placeholder=""></td>
      <td><button type="button" class="btn btn-primary">upload</button></td>
    </tr>
  </tbody>
</table>
</div>




  <footer class="mastfoot mt-auto bg-dark" style="height:200px">
    <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </footer>