<div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">User Registration</h1>
        <form>
          <div class="form-group">
            <label for="bank name">Bank name</label>
           <select  [(ngModel)]="formData.bankname"
                     name="bankname"
                     #bankname="ngModel">
             <option>FNB</option>
             <option> Standard Bank</option>
             <option> Capitec</option>
             <option>Absa</option>
           </select>
          </div>

          <div class="form-group">
            <label for="cardnumber">Card number </label>
            <input type="number"
                   class="form-control"
                   [(ngModel)]="formData.cardnumber"
                   name="cardnumber"
                   #cardnumber="ngModel"
                   required />
          </div>

       <div class="form-group">
            <label for="expire month">Expire Month</label>
             <select
                    [(ngModel)]="formData.expiremonth"
                     name="expiremonth"
                     #expiremonth="ngModel">
                    <option>01 </option>
                    <option> 02</option>
                    <option> 03</option>
                    <option>04</option>
                    <option>05 </option>
                    <option> 06</option>
                    <option> 07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option> 11</option>
                    <option> 12</option>
           </select>
          </div>
           <div class="form-group">
            <label for="expireyear ">Expire year</label>
             <select
                    [(ngModel)]="formData.expireyear"
                     name="expireyear"
                     #expiremonth="ngModel">
                    <option>2020 </option>
                    <option> 2021</option>
                    <option> 2022</option>
                    <option>2023</option>
                    <option>2024 </option>
                    <option> 2025</option>
                    <option> 2026</option>
                    <option>2027</option>
                    <option>2028</option>
                    <option>2029</option>
                    <option> 2030</option>
                    <option> 2031</option>
           </select>
          </div>
           <div class="form-group">
            <label for="vcc">Vcc</label>
            <input type="number"
                   class="form-control"
                   [(ngModel)]="formData.vcc"
                   name="vcc"
                   #vcc="ngModel"
                   required />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   [(ngModel)]="formData.email"
                   name="email"
                   #email="ngModel"
                   required />
          </div>
          <div class="form-group">
            <label for="cell phone">Cell phone</label>
            <input type="number"
                   class="form-control"
                   [(ngModel)]="formData.cellphone"
                   name="cellphone"
                   #cellphone="ngModel"
                   required />
          </div>
          <button 
            type="submit" 
            class="btn btn-warning" (click)="payment()">
              Register
          </button>
        </form>
      </div>
    </div>
</div>