<nav class="navbar  navbar-dark fixed-top" style="background-color:#31B404;">
  <a class="navbar-brand" style="color:#0B3B0B;font-weight:bold;"  href="#">Welcome : Admin</a>
  <span style="color:white;font-size:.7em;font-weight:bold;float:right;" >LogOut</span>
</nav>
<!-------------------------------------(((Images Display Here)))----------------------------------------->
<div style="height:500px;margin-top:100px;width:70%;height:200px;margin-left:15%;background-color:#F2F3F4;">
 <form #listData="ngForm">
<table class="table">
    <thead style="background-color:#FF0040;">
    <tr>


      <th scope="col" ><a style="color:white;" [routerLink]="['/adminbookings']">Bookings</a></th>
      <th scope="col" ><a style="color:white;" href="">Upload Images and Details</a></th>
        <th scope="col" ></th>
           <th scope="col" ></th>
    </tr>
  </thead>
  <tr>
   <td>
     <select  [(ngModel)]="category" name="category" >
<option >rooms</option>
    <option >experiences</option>
    <option >restaurant</option>
     </select>
    </td>
    <td>
         <input type="text" 
         [(ngModel)]="item" 
         name="item"
         placeholder="Description" 
         #ctrl="ngModel" required>
         <div *ngIf="ctrl.invalid && (ctrl.dirty || ctrl.touched)"
         class="alert alert-danger">
        <div *ngIf="ctrl.errors.required">
                  Username is required
        </div>
    </div>
    </td>
    <td>
    <div>
    <input 
          type="file" 
          (change)="fileChangeEvent($event)" 
          id="inputGroupFile01" 
          aria-describedby="inputGroupFileAddon01">
    </div>
    <div style="color:red;">
      {{  this.imageError}}
    </div>
    </td>
   <td>
  <button class="btn btn-success" [disabled] = "!listData.form.valid"  (click)="newItem()" type="button" >Add</button>
   </td>
  </tr>
</table>
</form>
</div>
<div style="height:500px;margin-top:100px;width:70%;height:200px;margin-left:15%;background-color:#F2F3F4;">
    <ng-container *ngIf="valueEdit!=''"> 
<table>
      <thead style="background-color:#85C1E9;">
    <tr>
      <th scope="col" ><a style="color:white;" >Edit</a></th>
        <th scope="col" ></th>
           <th scope="col" ></th>
    </tr>
  </thead>
  <tr>
    <td>
           <input text="hidden"
           [(ngModel)]="this.categ " 
           class="form-control"  
           aria-label="Recipient's username" 
           aria-describedby="button-addon2" 
           placeholder="Item...">  
    </td>
    <td>
    <input text="text"
           [(ngModel)]="valueEdit" 
           class="form-control"  
           aria-label="Recipient's username" 
           aria-describedby="button-addon2" 
           placeholder="Description" >
    </td>
    <td>
            <input 
           type="file" 
           (change)="editfileChangeEvent($event)" >
    </td>
    <td>
   <button class="btn btn-primary" (click)="editItem(idEdit,this.categ ,valueEdit)">Edit</button>
    </td>
  </tr>
</table>
  </ng-container> 
</div>
<!-------------------------------------(((Images Display Here)))----------------------------------------->
<br>
<br>
<div  style="margin-top:0px;width:70%;;height:250px;margin-left:15%;overflow:scroll">
    <div style="background-color:#FF0040;color:white;">
      <b>Guest Rooms</b>
    </div>

<div *ngFor="let categories of combined,let i =index">
<div *ngIf="categories.cotegory=='rooms'" class="card" style="width:20%;height:20%;float:left">
 <a (click)="removeItem(i)" type="button" > <img  [src]="categories.url"  alt="John" style="width:100%"></a>
  <p><button class="btn btn-warning" style="width:100%;"  (click)="editItem(i,categories.cotegory,categories.item)" type="button" >edit</button></p>
</div>
</div>
</div>
<div  style="margin-top:0px;width:70%;;height:250px;margin-left:15%;overflow:scroll">
    <div style="background-color:#FF0040;color:white;">
      <b>Restaurant</b>
    </div>
<div *ngFor="let categories of combined,let i =index">
<div  *ngIf="categories.cotegory=='restaurant'" class="card" style="width:20%;height:20%;;float:left;">
 <a (click)="removeItem(i)" type="button" > <img  [src]="categories.url"  alt="John" style="width:100%"></a>
  <p><button class="btn btn-warning" style="width:100%;"  (click)="editItem(i,categories.cotegory,categories.item)" type="button" >edit</button></p>
</div>
</div>
</div>

<div  style="margin-top:0px;width:70%;;height:250px;margin-left:15%;overflow:scroll">
      <div style="background-color:#FF0040;color:white;">
      <b>Experience</b>
    </div>
      <div *ngFor="let categories of combined,let i =index">
<div  *ngIf="categories.cotegory=='experiences'" class="card" style="width:20%;height:20%;;float:left">
 <a (click)="removeItem(i)" type="button" > <img  [src]="categories.url"  alt="John" style="width:100%"></a>
  <p><button class="btn btn-warning" style="width:100%;"  (click)="editItem(i,categories.cotegory,categories.item)" type="button" >edit</button></p>
</div>
</div>
</div>

<!----------------------------------------------(((ENDS HERE)))--------------------------------------------------->
  <footer class="mastfoot mt-auto bg-dark" style="height:200px;   clear:both;">
    <div class="inner">
      <p> <a href="https://getbootstrap.com/"></a> <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </footer>


